html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    display: flex;

}

button {
    height: 30px;       
    border-radius: 0px;
    border-style: outset;
    border-width: 2px;
    margin-left: 10px;
    font: bold 12px sans-serif;
    cursor: pointer;
} 

.simulation {
    width: 80vw;
    height: 100vh;
}

.text-area {
    width: 20vw;
    min-width: 20vw;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bold-label {
    display: block; 
    text-align: center;
    font-weight: bold; 
    margin: 0 auto; 
    padding-top: 0.7em;
    text-decoration: underline;
}

.bold {
    font-weight: bold; 
}

.stats-box {
    border: 1px solid black;
    padding: 1.1vh 0.9vh 0.9vh 0.9vh;
    border-radius: 0.5vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
    align-items: left;
}

.stats-box .title-label {
    width: 100%; 
    text-align: center; 
    padding-left: 0; 
    font-weight: bold; 
    margin-bottom: 0.5em; 
}

.stats-box label:not(.title-label) {
    width: 100%;
    text-align: left; 
    padding-left: 1em; 
}

.text-area label {
    margin-bottom: 5px; /* Space between label and input */
}

.text-area input {
    margin-bottom: 10px; /* Space between input and next element */
}

.text-area button {
    margin-top: 10px; /* Space above buttons */
}

.net-force {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    border-radius: 1vw;
    padding: 1.5vh;
}

#arrow {
    display: block;
    margin: 0 auto;
    height: 3vh;
}

#cannonball {
    display: block;
    margin: 0 auto;
    height: 5vh;
}

#netForceValue {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
